<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8d68ff">  <td>20/06/08 21:55:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HRMLogIn.setUp()[pri:0, instance:com.example.tests.HRMLogIn@7b7fdc8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428696898</td>   <td></td> </tr>
<tr bgcolor="8d68ff">  <td>20/06/08 21:56:20</td>   <td>27814</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HRMLogIn.tearDown()[pri:0, instance:com.example.tests.HRMLogIn@7b7fdc8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428696898</td>   <td></td> </tr>
<tr bgcolor="8d68ff">  <td>20/06/08 21:55:59</td>   <td>7210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HRMLogIn.testHRMLogIn()[pri:0, instance:com.example.tests.HRMLogIn@7b7fdc8]">testHRMLogIn</td> 
  <td>main@428696898</td>   <td></td> </tr>
</table>
